
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype HTML>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>


<body>

<div class="container my-5 mt-5 pt-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h1 class="text-body-emphasis">IMAGES SOURCES</h1>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active navbar-brand" aria-current="page" target="_blank" href="https://www.pexels.com/photo/wall-e-die-cast-model-981588/">Car Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active navbar-brand" aria-current="page" target="_blank" href="https://www.pexels.com/photo/brown-haired-girl-doll-holding-baby-in-bassinet-doll-157596/">Doll Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active navbar-brand" aria-current="page" target="_blank" href="https://www.pexels.com/photo/red-and-blue-plastic-toy-soldiers-on-brown-surface-9643191/">Soldier Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active navbar-brand" aria-current="page" target="_blank" href="https://www.pexels.com/photo/green-red-and-yellow-lego-blocks-168866/">Toy Link</a>
            </li>

        </ul>

    </div>
</div>

    </body>
</html>